<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class ="container">

<header th:replace="fragments :: header"></header>

<p th:unless="${events} and ${events.size()}">No events!</p>
<table class="table table-striped">
<thead>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
</tr>
</thead>
<!--    <tr th:each="event : ${events}">-->
<!--        <td th:text="${event}"></td>-->
<!--    </tr>-->

    <tr th:each="event : ${events}">
        <td th:text="${event.key}"></td>
        <td th:text="${event.value}"></td>

    </tr>
</table>

</body>git 
</html>